<% layout("layouts/boilerplate") %>

<div>
	<div class="row">

		<div class="col-12 col-md-8">
			<div class="card review-card">
				<div class="card-header"><h2>Itinerary</h2></div>
				
				<div class="card-body">
					<h2>
						<div class="row">
							<div class="col">
								<%= detail.from %> - <%= detail.to %>						
							</div>	
							<div class="col text-center">

							</div>
							<div class="col text-right">
								<%= detail.date %>
							</div>	
						</div>	
					</h2>
					<hr>
					<h2 class="card-title">
						<div class="row">
							<div class="col-sm-4">
								<%= detail.airline %>			
							</div>	
							<div class="col-sm-4 text-center">
								<%= detail.fromTime %><span class="fas fa-plane plane"></span><%= detail.toTime %>
							</div>
							<div class="col-sm-4 text-right">
								<%= detail.group %>
							</div>	
						</div>	    
					</h2>
					<hr>
					<% if (detail.passengerCount > 1) { %>
						<h5>Travellers : <%= detail.passengerCount %></h5>
					<% } else { %>
						<h5>Traveller : <%= detail.passengerCount %></h5>				
					<% } %> 
					<h5>Baggage : 15kg + 7kg</h5>
					<form action="/traveller" method="get">
						<div class="card-footer text-center">
							<button type="submit" class="btn btn-dark rnt-btn">CONTINUE</button>
						</div>
					</form>
				</div>
				
			</div>
		</div>

		<div class="col-6 col-md-4">
			
			<div class="progress above-fare">
				<div class="progress-bar bg-dark" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Review</div>
			</div>
			<div class="card fare-card">
				<div class="card-header"><h2>Fare Summary</h2></div>
				<div class="card-body">
					<h4>
						<div class="row">
							<div class="col-8">
								Base Fare
							</div>	
							<div class="col-4 text-right">
								₹<%= detail.price - 489 %>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-8">
								Fee & Taxes
							</div>	
							<div class="col-4 text-right">
								₹420
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-8">
								Other Charges		
							</div>	
							<div class="col-4 text-right">
								₹69
							</div>
						</div>
					</h4>
				</div>
				<div class="card-footer">
					<h2>
						<div class="row">
							<div class="col">
								Total Fare
                                <h5 style="margin-bottom: 0;">(₹<%= detail.price %> X <%= detail.passengerCount %>)</h5>		
							</div>	
							<div class="col text-right">
								₹<%= detail.price*detail.passengerCount %>
							</div>
						</div>
					</h2>
				</div>
			</div>
		</div>

	</div>
</div>